{% extends 'base.html.twig' %}

{% block title %}Compteur{% endblock %}

{% block body %}
    <h1>Compteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compteur.id }}</td>
            </tr>
            <tr>
                <th>Numéro Compteur</th>
                <td>{{ compteur.numCompteur }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ compteur.serie }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ compteur.marque }}</td>
            </tr>
            <tr>
                <th>Type du compteur</th>
                <td>{{ compteur.typeCompteur }}</td>
            </tr>
            <tr>
                <th>IndexCompteur</th>
                <td>{{ compteur.indexCompteur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compteur_index') }}"><button class="btn btn-outline-info">Voir la liste</button></a>

    <a href="{{ path('compteur_edit', {'id': compteur.id}) }}"> <button class="btn btn-outline-warning">Editer</button></a>

    {{ include('compteur/_delete_form.html.twig') }}
{% endblock %}
