{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Liste des Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelleCategorie }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">voir</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie ajouté</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Créer nouveau</a>
{% endblock %}
