{% extends 'base.html.twig' %}

{% block title %}Tarif{% endblock %}

{% block body %}
    <h1>liste des Tarifs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Prix Unitaire Fixe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td>{{ tarif.id }}</td>
                <td>{{ tarif.designation }}</td>
                <td>{{ tarif.prixUnitaireFixe }}</td>
                <td>
                    <a href="{{ path('tarif_show', {'id': tarif.id}) }}">voir/a>
                    <a href="{{ path('tarif_edit', {'id': tarif.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune tarif n'est ajoutée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarif_new') }}">Créer nouveau tarif</a>
{% endblock %}
