{% extends 'base.html.twig' %}

{% block title %}Tarif index{% endblock %}

{% block body %}
    <h1>Tarif index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>PrixUnitaireFixe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td>{{ tarif.id }}</td>
                <td>{{ tarif.designation }}</td>
                <td>{{ tarif.prixUnitaireFixe }}</td>
                <td>
                    <a href="{{ path('tarif_show', {'id': tarif.id}) }}">show</a>
                    <a href="{{ path('tarif_edit', {'id': tarif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarif_new') }}">Create new</a>
{% endblock %}
